.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 캐러셀 스타일 */
.carousel-item-custom {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.carousel-item-custom img {
  height: 550px;
  object-fit: cover; /*이미지 크기 고정*/
}

/* 베스트 셀러 컨테이너 스타일 */
.project_header {
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}

.hr {
  width: 100px;
  height: 4px;
  border-radius: 2px;
  background-color: #dd0000;
}

.project_header_container {
  margin-top: 120px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
